.follow-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.follower-name {
  font-size: 19px;
  color: #c9d1d9;
  text-transform: capitalize;
  margin: 0;
}
.follower-name:hover,
.login-name:hover {
  color: #388bfd;
  cursor: pointer;
}
.login-name {
  font-size: 16px;
  color: #8b949e;
  text-transform: capitalize;
  margin: 0;
  margin-left: 10px;
}
.bio-text {
  font-size: 12px;
  color: #8b949e;
  text-transform: capitalize;
  margin: 8px 0;
}
.follow-btn {
  width: 90px;
}
.followers-card {
  padding: 30px 0;
  width: 940px;
  border-bottom: 1px solid #30363d;
}
.follow-card-body {
  margin-left: 25px;
}
.follow-flex {
  flex-wrap: wrap;
}
